html,
body {
  height: 100%;
}

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');

body {
  font-family: 'Poppins', sans-serif;
	font-weight: 400;
  font-size: 1rem;
  color: $base-text-primary;
  -webkit-font-smoothing: antialiased;
}

.wrapper {
  display: flex;
  background-color: $base-accent;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title {
  color: #ffffff;
  font-size: 1.5em;
  font-weight: normal;
  margin: 0 0 1em 0;
}