.btn {
  padding: 0.7em 1.3em;
  border-radius: 3em;
  border: none;
  outline: none;
  cursor: pointer;
  border: 1px solid #ffffff;
  transition: all .15s;
  letter-spacing: 0.02em;
  background: transparent;
  &__group {
    .btn {
      margin-right: 0.5em;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  &__transparent {
    color: #ffffff;
    &__light {
      &:hover {
        background: #ffffff;
        color: $base-text-primary;
      }
    }
    &__dark {
      border: 1px solid $base-text-secondary;
      color: $base-text-primary;
      &:hover {
        background: $base-accent;
        border: 1px solid $base-accent;
        color: #ffffff;
      }
    }
  }
  &__accent {
    background: $base-accent;
    border: 1px solid $base-accent;
    color: #ffffff;
    &:hover {
      border: 1px solid $base-text-primary;
      background: $base-text-primary;
    }
  }
}